
<div class="container mx-auto px-4 max-w-2xl text-sm">
    <h4 class="text-lg font-semibold mb-4 mt-8">Medidas del producto</h4>
    <p class="mb-4">Estos datos se obtuvieron de la medición manual del producto las mediciones pueden variar de 1 a 2 cms.</p>
    
  <div class="mb-6">
    <h5 class="text-lg font-semibold mb-2"></h5>
    <table class="w-full border-collapse border border-gray-300">
      <tbody>
  <tr>
  <td class="font-semibold text-center p-2 border border-gray-300">Talla</td>
  <td class="font-semibold text-center p-2 border border-gray-300">Largo</td>
  <td class="font-semibold text-center p-2 border border-gray-300">Contorno cintura</td>
  <td class="font-semibold text-center p-2 border border-gray-300">Contorno caderas</td>
  </tr>
  <tr>
  <td class="text-center p-2 border border-gray-300">S</td>
  <td class="text-center p-2 border border-gray-300">33</td>
  <td class="text-center p-2 border border-gray-300">58-95</td>
  <td class="text-center p-2 border border-gray-300">66</td>
  </tr>
  <tr>
  <td class="text-center p-2 border border-gray-300">M</td>
  <td class="text-center p-2 border border-gray-300">33.8</td>
  <td class="text-center p-2 border border-gray-300">62-99</td>
  <td class="text-center p-2 border border-gray-300">70</td>
  </tr>
  <tr>
  <td class="text-center p-2 border border-gray-300">L</td>
  <td class="text-center p-2 border border-gray-300">35.1</td>
  <td class="text-center p-2 border border-gray-300">68-105</td>
  <td class="text-center p-2 border border-gray-300">76</td>
  </tr>
  </tbody>
    </table>
  </div>
</div>