---
import Faqsaccordeon from '../components/ux/Faqsaccordeon.astro';
---
<!-- FAQ -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2 class="text-2xl font-bold md:text-4xl md:leading-tight">Preguntas frecuentes</h2>
      <p class="text-lg mt-1 text-gray-500">Resuelve las principales dudas que puedes tener sobre nuestra APP      </p>
    </div>
    <!-- End Title -->
  
    <div class="max-w-4xl mx-auto">
      <!-- Accordion -->
      <Faqsaccordeon />
      <!-- End Accordion -->
    </div>
  </div>
  <!-- End FAQ -->