---
import Cards from '../components/ux/Cards.astro';
---
<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6 md:gap-10">
      <Cards
      icon="./assets/icons/test.svg"
      alto="w-8"
      titulo="Ensayos de examenes"
      descripcion="Realiza test gratis todos los días o bien accede a ensayos ilimitados durante un mes por solo $3.990."
      />
      <Cards
      icon="./assets/icons/ia.svg"
      alto="w-8"
      titulo="Estudia con IA"
      descripcion="Drive bot es nuestro asistente virtual que te ayudara con cualquier duda que tengas sobre la licencia de conducir."
      />
      <Cards 
      icon="./assets/icons/pencil.svg"
      alto="w-8"
      titulo="Material de estudio"
      descripcion="Audio libros, glosario vial, resumenes, señales del tránsito explicadas y mucho más en una sola APP."
      />
      <Cards
      icon="./assets/icons/updates.svg"
      alto="w-8"
      titulo="Actualizaciones"
      descripcion="Disponibilizamos nuevos materiales todas las semanas, como ensayos, preguntas, nuevas características y más."
      />
      <Cards
      icon="./assets/icons/clock.svg"
      alto="w-8"
      titulo="Ensayos rápido"
      descripcion="Realiza un examen rápido de 10 preguntas mientras vas en el metro, cocinas o lo que quieras."
      />
      <Cards
      icon="./assets/icons/search.svg"
      alto="w-8" 
      titulo="Buscador de respuestas"
      descripcion="¿Tienes duda con alguna respuesta? Utiliza nuestro buscador y descubre las respuestas correctas."
      />
    </div>
  </div>
  <!-- End Icon Blocks -->