---
import Cards from '../components/ux/Cards.astro';
---
<!-- Icon Blocks -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 items-center gap-6 md:gap-10">
      <Cards />
    </div>
  </div>
  <!-- End Icon Blocks -->