<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid items-center lg:grid-cols-12 gap-6 lg:gap-12">
      <div class="lg:col-span-4">
        <!-- Stats -->
        <div class="lg:pe-6 xl:pe-12">
          <p class="text-6xl font-bold leading-10 text-primary-100">
            92%

          </p>
          <p class="mt-2 sm:mt-3 text-gray-500">De nuestros estudiantes aprueba el examen en su primer intento.</p>
        </div>
        <!-- End Stats -->
      </div>
      <!-- End Col -->
  
      <div class="lg:col-span-8 relative lg:before:absolute lg:before:top-0 lg:before:-start-12 lg:before:w-px lg:before:h-full lg:before:bg-gray-200 lg:before:dark:bg-gray-700">
        <div class="grid gap-6 grid-cols-2 md:grid-cols-4 lg:grid-cols-3 sm:gap-8">
          <!-- Stats -->
          <div>
            <p class="text-3xl font-semibold text-primary-100">+1500</p>
            <p class="mt-1 text-gray-500">Preguntas actualizadas.</p>
          </div>
          <!-- End Stats -->
  
          <!-- Stats -->
          <div>
            <p class="text-3xl font-semibold text-primary-100">+55.000</p>
            <p class="mt-1 text-gray-500">Examenes realizados el último mes.</p>
          </div>
          <!-- End Stats -->
  
          <!-- Stats -->
          <div>
            <p class="text-3xl font-semibold text-primary-100">+500</p>
            <p class="mt-1 text-gray-500">Alumnos nuevos cada día.</p>
          </div>
          <!-- End Stats -->
        </div>
      </div>
      <!-- End Col -->
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Features -->

