---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="follow, index">
		<link rel="icon" type="image/svg+xml" href="/logo_color.png" />
		<link rel="canonical" href="https://dreamco.cl/" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script src="../../node_modules/preline/dist/preline.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
		<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</body>
</html>

<style>
	:global(html) {
	  
	  /* ...TRUNCATED */
  
	  color: hsl(var(--colour-text-hue) var(--colour-text-saturation) var(--colour-text-luminance));
  
		  scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
	  :global(html) {
		scroll-behavior: auto;
	  }
	}